.comments-section {
  display: flex;
  flex-direction: row;
  padding: 0% 5%;
  height: 10%;
  width: 100%;

  img {
    width: 30px;
    height: 30px;
    margin: auto 0;
  }

  ion-input {
    margin-left: 5%;
    color: var(--ion-color-dark-contrast);
    --placeholder-color: var(--ion-color-dark-contrast);
  }

  ion-button {
    --background: none;
    --color: var(--ion-color-primary);
  }
}
