#toolbar-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  ion-icon {
    width: 25px;
    height: 25px;
  }

  ion-button {
    --background: none !important;
    --box-shadow: none;
    --background-activated: #eee;
  }
}

.post-buttons {
  display: flex;
  justify-content: space-between;

  ion-button {
    --background: none;
  }
}

#btn-favourite {
  --background: none;
}
