<ion-content class="ion-popover">
  <div class="popover">
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Filter</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select>
          <ion-select-option value="Groceries">Groceries</ion-select-option>
          <ion-select-option value="Music And Education">Music And Education</ion-select-option>
          <ion-select-option value="House And DIY">House And DIY</ion-select-option>
          <ion-select-option value="Electronics">Electronics</ion-select-option>
          <ion-select-option value="Farming">Farming</ion-select-option>
          <ion-select-option value="Holiday And Tickets">Holiday And Tickets</ion-select-option>
          <ion-select-option value="Sports And Hobbies">Sports And Hobbies</ion-select-option>
          <ion-select-option value="Animals">Animals</ion-select-option>
          <ion-select-option value="Baby And Kids">Baby And Kids</ion-select-option>
          <ion-select-option value="Clothes And Lifestyle">Clothes And Lifestyle</ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Location</ion-label>
        <ion-select>

          <ion-select-option value="Antrim">Antrim</ion-select-option>
          <ion-select-option value="Armagh">Armagh</ion-select-option>
          <ion-select-option value="Carlow">Carlow</ion-select-option>
          <ion-select-option value="Cavan">Cavan</ion-select-option>
          <ion-select-option value="Clare">Clare</ion-select-option>
          <ion-select-option value="Cork">Cork</ion-select-option>
          <ion-select-option value="Derry">Derry</ion-select-option>
          <ion-select-option value="Donegal">Donegal</ion-select-option>
          <ion-select-option value="Down">Down</ion-select-option>
          <ion-select-option value="Dublin">Dublin</ion-select-option>
          <ion-select-option value="Fermanagh">Fermanagh</ion-select-option>
          <ion-select-option value="Galway">Galway</ion-select-option>
          <ion-select-option value="Kerry">Kerry</ion-select-option>
          <ion-select-option value="Kildare">Kildare</ion-select-option>
          <ion-select-option value="Kilkenny">Kilkenny</ion-select-option>
          <ion-select-option value="Laois">Laois</ion-select-option>
          <ion-select-option value="Leitrim">Leitrim</ion-select-option>
          <ion-select-option value="Limerick">Limerick</ion-select-option>
          <ion-select-option value="Longford">Longford</ion-select-option>
          <ion-select-option value="Louth">Louth</ion-select-option>
          <ion-select-option value="Mayo">Mayo</ion-select-option>
          <ion-select-option value="Meath">Meath</ion-select-option>
          <ion-select-option value="Monaghan">Monaghan</ion-select-option>
          <ion-select-option value="Offaly">Offaly</ion-select-option>
          <ion-select-option value="Roscommon">Roscommon</ion-select-option>
          <ion-select-option value="Sligo">Sligo</ion-select-option>
          <ion-select-option value="Tipperary">Tipperary</ion-select-option>
          <ion-select-option value="Tyrone">Tyrone</ion-select-option>
          <ion-select-option value="Waterford">Waterford</ion-select-option>
          <ion-select-option value="Westmeath">Westmeath</ion-select-option>
          <ion-select-option value="Wexford">Wexford</ion-select-option>
          <ion-select-option value="Wicklow">Wicklow</ion-select-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Price From</ion-label>
        <ion-input type="number"></ion-input>
        <ion-label floating>Price To</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

    </ion-list>
  </div>
</ion-content>