.btn-signin {
  --background: linear-gradient(95deg, #08aeea 0%, #2af598 100%) !important;
  --border-radius: 30px;
  font-weight: bold;
  margin-top: 15%;
  width: 100%;
}

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
  .inputs {
    --placeholder-color: black;
    margin-bottom: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    --padding: 0;
  }
}

.txt-signup {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  margin-bottom: 5px;

  p,
  a {
    color: black;
  }
}

.header {
  position: absolute;
  top: 10%;
  color: '#121212';

  h1 {
    margin: 0;
    font-size: 42px;
    font-weight: bold;
  }
  h5 {
    margin: 0;
    font-size: 22px;
  }
}

.txt-forgotpass {
  font-size: 12px;
  align-self: flex-end;
  margin-top: 5%;

  a {
    color: '#161616';
  }
}
