<ion-content class="bg">
  <div id="spinner" *ngIf="loading">
    <ion-spinner name="dots" color="light"></ion-spinner>
  </div>
  <div class="content-container">
    <header class="header">
      <h1>YOINK!</h1>
      <h5>login to continue</h5>
    </header>

    <div class="input-container">
      <!-- ? EMAIL INPUT -->
      <ion-item class="inputs">
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-input
          type="email"
          [(ngModel)]="email"
          placeholder="Email"
        ></ion-input>
      </ion-item>

      <!-- ? PASSWORD INPUT -->
      <ion-item class="inputs">
        <ion-icon slot="start" name="lock"></ion-icon>
        <ion-input
          type="Password"
          [(ngModel)]="password"
          placeholder="Password"
        ></ion-input>
      </ion-item>

      <div class="txt-forgotpass">
        <a routerLink="/forgot" routerDirection="root">Forgot Password?</a>
      </div>

      <!-- ? SIGNIN BUTTON -->
      <ion-button class="btn-signin" (click)="loginUser()">SIGN IN</ion-button>
    </div>

    <div class="txt-signup">
      <p>
        New member?
        <a [routerLink]="['/register']" routerDirection="forward"
          ><b>Sign Up Now</b></a
        >
      </p>
    </div>
  </div>
</ion-content>
