.menu-items {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  ion-button:last-child {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
  }
}

