.btn-signup {
  --background: linear-gradient(95deg, #08aeea 0%, #2af598 100%) !important;
  // --background: linear-gradient(to right, #783cc7, #5900ff) !important;

  font-weight: bold;
  width: 55%;
  --border-radius: 30px;
}

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  header {
    z-index: 999;
  }
}

.input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
  .inputs {
    --placeholder-color: black;
    margin-bottom: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    --padding: 0;
  }
}

.input-container-validation {
  ion-item {
    --border-color: var(--ion-color-danger, #f1453d);
  }
}

// .bg {
//   --background: linear-gradient(315deg, #0b0d0e 0%, #000000 74%);
// }
.btn-signup {
  margin-top: 15%;
  width: 100%;
}

.txt-signin {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  margin-bottom: 5px;
  z-index: 999;

  // p,
  // a {
  //   color: black;
  // }
}

.header {
  position: absolute;
  top: 10%;
  color: '#121212';

  h1 {
    margin: 0;
    font-size: 42px;
    font-weight: bold;
  }
  h5 {
    margin: 0;
    font-size: 22px;
  }
}

// .txt-forgotpass {
//   font-size: 12px;
//   align-self: flex-end;
//   margin-top: 5%;
//   z-index: 999;

//   a {
//     color: '#161616';
//   }
// }

.test {
  position: absolute;
  top: 0;
  left: 0;
}
