.btn-signup {
  --background: linear-gradient(95deg, #08aeea 0%, #2af598 100%) !important;
  // --background: linear-gradient(to right, #783cc7, #5900ff) !important;

  font-weight: bold;
  width: 55%;
  --border-radius: 30px;
}

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
  .inputs {
    --placeholder-color: black;
    margin-bottom: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    --padding: 0;
  }
}

.input-container-validation {
  ion-item {
    --border-color: var(--ion-color-danger, #f1453d);
  }
}

.btn-signup {
  margin-top: 15%;
  width: 100%;
}

.txt-signin {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  margin-bottom: 5px;

  p,
  a {
    color: black;
  }
}

h1,
h5 {
  margin: 0;
}

.header {
  position: absolute;
  align-items: left;
  top: 50px;
  color: '#121212';
}

.txt-forgotpass {
  font-size: 12px;
  align-self: flex-end;
  margin-top: 5%;

  a {
    color: '#161616';
  }
}
