ion-list,
ion-list-header {
  background: var(--ion-color-darkv2);
  --color: var(--ion-color-dark-contrast);

  ion-item {
    --background: var(--ion-color-darkv2);
    --color: var(--ion-color-dark-contrast);
  }
}

* {
  --background: var(--ion-color-darkv2);
}
