<ion-toolbar>
  <div id="toolbar-container">
    <ion-title>Favourites</ion-title>
  </div>
</ion-toolbar>

<ion-content>
  <div id="container-nofavourites" *ngIf="userLoaded && !userSavedPosts">
    <h6 id="txt-nofavourites">Hey you havent favourited any posts!</h6>
    <ion-img
      src="../../assets/images/noFavouritePostImage.png"
      id="img-nofavourites"
    ></ion-img>
  </div>

  <div *ngIf="!userLoaded" class="ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="userLoaded && userSavedPosts">
    <app-post [posts]="user.savedPosts"></app-post>
  </div>
</ion-content>
