<ion-toolbar>
  <div>
    <ion-text id="app-title">YOINK</ion-text>
  </div>

  <!-- ? SEARCH BUTTON -->
  <!-- <ion-button
    color="primary"
    expand="block"
    slot="end"
    (click)="toggleSearch()"
  >
  <h1>Yoink</h1>

  <ion-button color="primary" expand="block" slot="end" (click)="toggleSearch()">
    Search
  </ion-button> -->
</ion-toolbar>

<ion-searchbar [hidden]="isShow"></ion-searchbar>

<ion-content>
  <!-- ? ION SPINNER -->

  <div class="ion-text-center">
    <ion-spinner *ngIf="!postLoaded" name="crescent"></ion-spinner>
  </div>

  <!-- ? DATA REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="fetchNewPosts($event)" pullMax="70">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <div *ngFor="let post of posts; let i = index">
      <app-post class="posts" [post]="post" [index]="i"></app-post>
    </div>

    <!-- ? ION INFINITE SCROLL -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>