.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

#header {
  font-size: 1.75em;
}

#searchbar {
  width: 80%;
}

.refine-filters-content {
  width: 240px;
}

.btn-favourite {
  --background: white;
  --box-shadow: none;
}

.unfavourited {
  color: gray;
}

.favourited {
  color: red;
}