<ion-toolbar>
  <div id="toolbar-container">
    <ion-button [routerLink]="['/tabs/profile']" routerDirection="forward"
      ><ion-icon name="arrow-back"></ion-icon
    ></ion-button>
    <ion-title>Followers</ion-title>
  </div>
</ion-toolbar>

<ion-content>
  <!-- <ion-text *ngIf="followers == 'undefined' ">You have no followers!</ion-text> -->

  <div *ngFor="let follower of followers">
    <ion-item
      >{{ follower.firstName | titlecase }} {{ follower.lastName | titlecase }}
    </ion-item>
  </div>
</ion-content>
