// ! ------------- Animations ONLY -------------------
@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1.3);
  }
}

@keyframes spin {
  0% {
    transform: rotate(-180deg);
  }
}

// ! ------------- ID STYLES ONLY --------------------
#btn-img-post {
  background: none;
  width: 100%;

  ion-img {
    width: 100%;
  }
}

#btn-favourite {
  --background: none;
  --box-shadow: none;

  .unfavourited {
    color: gray;
  }

  .favourited {
    color: gold;
    animation: spin 0.5s alternate infinite ease-in;
    animation-iteration-count: 1;
  }
}

// ! ------------- CLASS STYLES ONLY ------------------
.heartLikedAnimation {
  animation: grow 0.2s alternate infinite ease-in;
  animation-iteration-count: 2;
}

.post-uploader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // padding: 2% 5%;

  .uploader-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  ion-img {
    width: 30px;
    margin-right: 5px;
  }
}

.post-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.btn-card,
.btn-card:active {
  background: none;
  outline: none !important;
  margin-bottom: 5%;
  width: 100%;
}

ion-card-header {
  padding: 0;
}
