.header{
    min-height: 100px;
}
.profile-small {
    width: 60px;
    float: left;
    padding-right: 10px;
}
.align-left {
    float: left;
}
.username {
    margin: 0;
}
.date{
    margin: 0;
    font-size: 10px;
}
.bookmark{
    border: none;
    margin: 0;
    padding: 0;
    width: 50px;
    position: absolute;
    right: 16px;
    width: 90px;
}
.bookmark ion-button {
    margin: 0;
    padding: 0;
}
.statement{
    clear: both;
}
.social{
    font-size: 12px;
}
.likes{
    text-align: left;
}
.comments{
    text-align: center;
}
.views{
    text-align: right;
}
.product-name{
    font-weight: bold;
    font-size: 1.4em;
}
.price{
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
}
.locality {
    text-align: right;
}
.expiry-date {
    font-size: .7em;
}