<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- ? LIST OF COMMENTS -->
    <ion-list>
      <ion-item>
        <div class="comment-container">
          <div class="user-details">
            <ion-img
              src="../../assets/images/person.png"
              style="width: 35px; height: 35px;"
            ></ion-img>

            <ion-text style="font-weight: bold;">ibrah_ghaffar</ion-text>
          </div>

          <div class="user-comment">
            <ion-text
              >hey there great find, thanks
              fossssssssssssssssssssssssssssssssssssssssssssssssssr
              sharing!</ion-text
            >
            <ion-icon name="heart-empty" color="danger"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <!-- ? POST COMMENT SECTION -->
    <div class="comments-section">
      <img
        src="https://images.squarespace-cdn.com/content/v1/57538abe01dbae35762257b1/1562091993746-14XT03YW0FU2CJNOI2R4/ke17ZwdGBToddI8pDm48kJK4Mm1kch8SFO9ZNkN1NT97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmN9YSRtfoTLg6dUq-6F17A0FFZK5fArcnK1IqGweyunyWChwIwkIJ_P7MaZif-uMs/1.png"
      />
      <input #inputComment type="text" placeholder="Add a comment" />

      <ion-button>Post</ion-button>
    </div>
  </div>
</ion-content>
