// ! ------------- Animations ONLY --------------------

// ! ------------- ID STYLES ONLY ---------------------

// ! ------------- CLASS STYLES ONLY ------------------
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;

  .comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .comment-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      margin-top: 3%;
      margin-bottom: 2%;

      align-content: center;
      margin-left: 1%;

      ion-img {
        width: 30px;
        height: 30px;
      }

      ion-text {
        font-weight: bold;
      }
    }

    .comment-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      position: relative;
      padding-bottom: 2%;

      ion-text {
        padding: 0;
        margin: 0;
      }

      ion-button {
        position: absolute;
        right: 0;
      }
    }

    .comment-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      width: 50%;
      font-size: 0.8em;
      margin-bottom: 3%;

      ion-text:not(:first-child) {
        margin-left: 5%;
      }
    }
  }

  .post-comment-section {
    display: flex;
    flex-direction: row;
    padding: 0% 3%;
    width: 100%;
    // position: absolute;
    bottom: 0;
    z-index: 999;
    position: fixed;

    img {
      width: 30px;
      height: 30px;
      margin: auto 0;
    }

    input {
      margin-left: 5%;
      border: none;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    ion-button {
      --color: var(--ion-color-primary);
    }
  }
}
