/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

a {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* ---------STYLES FOR DARK THEME (START)---------*/
ion-content {
  --background: #000; //change to white for light theme

  ion-icon {
    color: #fff;
  }
  ion-text {
    color: #fff;
  }
}

ion-tabs {
  ion-tab-bar,
  ion-tab-button {
    background: #080808;
  }
  // ion-tab-button:focus {
  //   ion-icon,
  //   ion-label {
  //     color: #fff !important;
  //     --ion-color-base: #fff !important;
  //   }
  // }
}

ion-toolbar {
  --background: #080808;
  ion-title {
    color: #fff;
  }
}
/* ---------STYLES FOR DARK THEME (END)---------*/

#toolbar-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  ion-icon {
    width: 25px;
    height: 25px;
  }

  ion-button {
    --background: none !important;
    --box-shadow: none;
    --background-activated: #eee;
  }
}

.user-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;

  img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  ion-button {
    --border-radius: 100px;
    --background: linear-gradient(95deg, #08aeea 0%, #2af598 100%) !important;
  }
}

.user-popularity-details {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .user-followers,
  .user-following {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
}

.user-deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
  #recent-deals {
    text-align: center;
  }
}
.post-buttons {
  display: flex;
  justify-content: space-between;

  ion-button {
    --background: none;
    --box-shadow: none;
  }
}

#btn-favourite {
  --background: none;
  --box-shadow: none;
}

#toolbar-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  ion-icon {
    width: 25px;
    height: 25px;
  }

  ion-button {
    --background: none !important;
    --box-shadow: none;
    --background-activated: #eee;
  }

  ion-menu-button {
    margin: auto 0;
  }
}
ion-content {
  overflow-y: scroll;
}
