/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// // /* ---------STYLES FOR DARK THEME (START)---------*/

// h1,
// h5,
// p,
// a {
//   color: var(--ion-color-dark-contrast);
// }

// ion-card {
//   --background: #141518;
// }

// ion-icon {
//   color: var(--ion-color-dark-contrast);
// }

// ion-content {
//   --background: var(--ion-color-darkv2); //change to white for light theme

//   ion-icon {
//     color: var(--ion-color-dark-contrast);
//   }
//   ion-text {
//     color: var(--ion-color-dark-contrast);
//   }

//   ion-item {
//     // --background: var(--ion-color-dark);
//     --background: none;

//     color: var(--ion-color-dark-contrast);
//   }
// }

// ion-tabs {
//   ion-tab-bar,
//   ion-tab-button {
//     background: var(--ion-color-dark-shadev2);
//   }
//   // ion-tab-button:focus {
//   //   ion-icon,
//   //   ion-label {
//   //     color: #fff !important;
//   //     --ion-color-base: #fff !important;
//   //   }
//   // }
// }

// ion-refresher {
//   background: var(--ion-color-darkv2);
// }

// ion-card {
//   ion-card-subtitle,
//   ion-card-title {
//     color: var(--ion-color-dark-contrast);
//   }
// }

// ion-toolbar {
//   --background: var(--ion-color-dark-shadev2);

//   ion-icon {
//     color: var(--ion-color-dark-contrast);
//   }
//   ion-title {
//     color: var(--ion-color-dark-contrast);
//   }
// }

// // /*----------IOS/MD DateTime Picker styles (START)---------*/

// .picker-columns {
//   background: var(--ion-color-dark-shadev2);
//   color: var(--ion-color-dark-contrast);
// }

// .picker-wrapper {
//   border: none;
//   .picker-toolbar {
//     background: var(--ion-color-dark-shadev2);
//     border: none;
//   }

//   .picker-below-highlight,
//   .picker-above-highlight {
//     opacity: 0.75;
//     background: var(--ion-color-dark-shadev2);
//   }
// }
// // /*----------IOS/MD DateTime Picker styles (END)---------*/

// // /* ---------STYLES FOR DARK THEME (END)---------*/

// ! -------------- ELEMENT STYLES ONLY --------------
a {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ion-text,
ion-input {
  color: black;
}

ion-title {
  text-align: center;
}

ion-spinner {
  color: var(--ion-color-dark-shadev2);
}

ion-icon {
  width: 25px;
  height: 25px;
  color: black;
}

ion-button {
  --box-shadow: none;
  // --background: none;
}

// ! -------------- ID STYLES ONLY --------------
#toolbar-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  ion-icon {
    width: 25px;
    height: 25px;
    color: black;
  }

  ion-button {
    --background: none !important;
    --box-shadow: none;
    --background-activated: #eee;
  }

  ion-menu-button {
    margin: auto 0;
  }
}

// ! -------------- CLASS STYLES ONLY --------------
.btn {
  --background: none;
  --border-radius: 100px;
  outline: none;
  border: none;
  color: var(--ion-color-dark-shadev2);

  // &:focus {
  //   outline: 0 !important;
  //   border: none;
  // }
}

.btn:focus {
  outline-width: 0 !important;
  border: none !important;
}

.btn-gradient {
  --background: linear-gradient(95deg, #08aeea 0%, #2af598 100%) !important;
}

.btn-transparent {
  --background: none;
}

.user-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;

  img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  ion-button {
    --border-radius: 100px;
    --background: linear-gradient(95deg, #08aeea 0%, #2af598 100%) !important;
  }
}

.user-popularity-details {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .user-followers,
  .user-following {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
}

.user-deals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  #recent-deals {
    text-align: center;
  }
}

.post-buttons {
  display: flex;
  justify-content: space-between;

  ion-button {
    --background: none;
    --box-shadow: none;
  }
}
