<ion-header>
  <ion-toolbar>
    <div id="toolbar-container">
      <ion-button [routerLink]="['/tabs/profile']"
        ><ion-icon name="arrow-back" color="dark"></ion-icon
      ></ion-button>
      <ion-title>Following</ion-title>
      <ion-menu-button
        ><ion-icon name="menu" color="dark"></ion-icon
      ></ion-menu-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let following of followings">
    <ion-button [routerLink]="['/tabs/follow-profile', following._id]">
      <ion-item>{{ following.email }}</ion-item>
    </ion-button>
  </div>
</ion-content>
