
  <ion-header>
    <ion-toolbar color="primary">
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-button  id="profileBtn" color="secondary"><ion-icon name="person"></ion-icon></ion-button>
            </ion-col>
            <ion-col class="ion-text-center">
                  <div><ion-header id="header">Yoink!</ion-header></div>         
            </ion-col>
            <ion-col class="ion-text-center">
                  <ion-button  id="filterBtn" color="secondary"><ion-icon name="funnel"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        

    </ion-toolbar>
  </ion-header>

  <ion-content>
    
  </ion-content>

